<h2>Leave a comment</h2>

<form method="post">
    <div id="name">
        <input type="text" name="name" placeholder="name" required>
    </div>
    <div id="Comment">
        <textarea rows="4" cols="50" name="comment" placeholder="comment" required></textarea>
    </div>
        <input type="submit">
</form>